@model Eshop.ViewModels.ConnectionViewModel

@if (Model != null)
{
<dl class="dl-horizontal">
    <dd>
        @Html.DisplayFor(model => model.Message)
    </dd>
</dl>
       

}
else
{
    <h3>No messages sent.. for now! </h3>
}
