
@{
    ViewBag.Title = ViewBag.Username;
}

<div class="row">
    <div class="col-xa-12 col-md-6">
        <p>
            @ViewBag.ViewingFullName (@ViewBag.UserName)
        </p>

    </div>

</div>
<h2>@TempData["Username"]</h2>

