@model Eshop.ViewModels.ProductViewModel

<tr>
    <td class="additional-info">Watt</td>
    <td class="additional-info-1">@Model.Psu.watt</td>
</tr>
<tr>
    <td class="additional-info">Connector</td>
    <td class="additional-info-1">@Model.Psu.connector</td>
</tr>
