@model Eshop.ViewModels.ProductViewModel

<tr>
    <td class="additional-info">Memory</td>
    <td class="additional-info-1">@Model.Ram.memory</td>
</tr>
<tr>
    <td class="additional-info">Type</td>
    <td class="additional-info-1">@Model.Ram.type</td>
</tr>
<tr>
    <td class="additional-info">Cash Latency</td>
    <td class="additional-info-1">@Model.Ram.cash_latency</td>
</tr>
<tr>
    <td class="additional-info">Frequency</td>
    <td class="additional-info-1">@Model.Ram.frequency</td>
</tr>

