
@{
    ViewBag.Title = "About Us";
}

<div class="wallpaper-container">
    <img src="~/Images/Icons/banner.jpg" alt="wallpaper">
    <div class="wallpaper-heading">
        <h2>About us</h2>
        <h4>Home/About us</h4>
    </div>
</div>

<div class="about-container beginStickyNav">
    <div class="about-header-container">
        <h1>About Us</h1>
    </div>
    <div class="about-container-1">
        <div>
            <img src="~/Images/Other/about-img-1.jpg" alt="">
            <div class="about-container-2">
                <h3>
                    Our Philosophy
                </h3>
                <p>Technology is part of our DNA. We never stop trying to educate and improve ourselves.</p>
            </div>
        </div>
        <div>
            <img src="~/Images/Other/about-img-2.jpg" alt="">
            <div class="about-container-2">

                <h3>Our Vision</h3>
                <p>Build the best product,use business to inspire and implement solutions</p>
            </div>


        </div>
        <div>
            <img src="~/Images/Other/about-img-3.jpg" alt="">
            <div class="about-container-2">
                <h3>Goals</h3>
                <p>Motivated software engineers looking to pursue a successful career in software development in a Company, where they will deliver state-of-the-art software solutions</p>

            </div>

        </div>
    </div>
</div>

<div class="human-resources-header">
    <div>
        <h1>Meet our Team</h1>
        <h4>Passionate about developing.</h4>
    </div>
</div>
<div class="human-resources-container">
    <div class="human-resources-container-1">
        <div>
            <div class="about-us-img-container">
                <a target="_blank" href="#">
                    <img src="~/Images/Other/tasos.jpg" alt="">
                    <img class="middle" src="~/Images/Other/linkedin.png" />
                </a>
            </div>
            <h3>Anastasios Adam</h3>
            <h6>Front End Developer</h6>

        </div>
        <div>
            <div class="about-us-img-container">
                <a target="_blank" href="https://www.linkedin.com/in/%CE%B8%CE%B5%CF%8C%CE%B4%CF%89%CF%81%CE%BF%CF%82-%CF%83%CF%84%CE%B1%CF%83%CE%B9%CE%BD%CF%8C%CF%82-b67527241/">
                    <img src="~/Images/Other/stasinos.png" .jpg" alt="">
                    <img class="middle" src="~/Images/Other/linkedin.png" />
                </a>
            </div>
            <h3>Thodoris Stasinos</h3>
            <h6>Back End Developer</h6>
        </div>
        <div>
            <div class="about-us-img-container">
                <a target="_blank" href="https://www.linkedin.com/in/aris-lamprinidis-aa7b81236/">
                    <img src="~/Images/Other/aris.jpg" alt="">
                    <img class="middle" src="~/Images/Other/linkedin.png" />
                </a>
            </div>
            <h3>Aristeidis Lamprinidis</h3>
            <h6>Front End Developer</h6>
        </div>
        <div>
            <div class="about-us-img-container">
                <a target="_blank" href="https://www.linkedin.com/in/%CE%B3%CE%B9%CE%AC%CE%BD%CE%BD%CE%B7%CF%82-%CE%BC%CE%BF%CE%BD%CE%B1%CF%83%CF%84%CE%B7%CF%81%CE%B9%CF%8E%CF%84%CE%B7%CF%82-585454159/">
                    <img src="~/Images/Other/monastioriotis.jfif" alt="">
                    <img class="middle" src="~/Images/Other/linkedin.png" />
                </a>
            </div>
            <h3>Monastiriotis Ioannis</h3>
            <h6>Back End Developer</h6>

        </div>
        <div>
            <div class="about-us-img-container">
                <a target="_blank" href="https://www.linkedin.com/in/%CE%B1%CE%BB%CE%AD%CE%BE%CE%B7%CF%82-%CE%BC%CE%AC%CE%BD%CF%84%CE%B6%CE%B1%CF%81%CE%B7%CF%82-a909b924b/">
                    <img src="~/Images/Other/alex.jpg" alt="">
                    <img class="middle" src="~/Images/Other/linkedin.png" />
                </a>
            </div>
            <h3>Aleksios Mantzaris</h3>
            <h6>Back End Developer</h6>

        </div>
    </div>

</div>


