@model Eshop.ViewModels.ProductViewModel

<tr>
    <td class="additional-info">MotherBoard size</td>
    <td class="additional-info-1">@Model.Box.MotherboardSize</td>
</tr>
<tr>
    <td class="additional-info">Color</td>
    <td class="additional-info-1">@Model.Box.Color</td>
</tr>
