@model Eshop.ViewModels.ProductViewModel

<tr>
    <td class="additional-info">Type</td>
    <td class="additional-info-1">@Model.HardDisc.type</td>
</tr>
<tr>
    <td class="additional-info">Capacity</td>
    <td class="additional-info-1">@Model.HardDisc.capacity</td>
</tr>
<tr>
    <td class="additional-info">Connector</td>
    <td class="additional-info-1">@Model.HardDisc.connector</td>
</tr>
<tr>
    <td class="additional-info">Frequency</td>
    <td class="additional-info-1">@Model.HardDisc.frequency</td>
</tr>

