@model Eshop.ViewModels.ProductViewModel

<tr>
    <td class="additional-info">Resolution</td>
    <td class="additional-info-1">@Model.Monitor.Resolution</td>
</tr>
<tr>
    <td class="additional-info">Screen size</td>
    <td class="additional-info-1">@Model.Monitor.ScreenSize</td>
</tr>
<tr>
    <td class="additional-info">Refresh rate</td>
    <td class="additional-info-1">@Model.Monitor.RefreshRate</td>
</tr>
<tr>
    <td class="additional-info">Aspect ratio</td>
    <td class="additional-info-1">@Model.Monitor.AspectRatio</td>
</tr>
