@model Eshop.ViewModels.EmailVerifyViewModel

@{
    ViewBag.Title = "Account Verify";
}

<div class="wallpaper-container">
    <img src="~/Images/Icons/banner.jpg" alt="wallpaper">
    <div class="wallpaper-heading">
        <h1>Shop</h1>
        <h5>Home/Account</h5>
    </div>
</div>

<div class="login-form "style="min-height:300px">
    @using (Html.BeginForm("VerifyAccount", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.EmailToken)
        <h3>Press button to verify your email</h3>
        <input type="submit" value="verify" class="btn btn-default" />
    }
</div>
